:root {
    --foreground: #fbf7d0;
    --background: #004366;
    --bg-color-b: #333333;
    --bg-color-y: #d6b81f;
    --bg-color-g: #399d39;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Tahoma, Verdana, sans-serif;
}
html {
    padding: 2rem;
    background: var(--background);
}
h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--foreground);
}
h2 {
    text-align: center;
    color: var(--foreground);
}
main {
    max-width: 300px;
    margin: 0 auto;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 4px;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}
.input-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 4px;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 25px auto 20px;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--foreground);
    border: 2px solid var(--foreground);
    border-radius: 0.5rem;
    width: 100%;
    height: 56px;
}

.b,
.y,
.g {
    color: var(--foreground) !important;
}

.b {
    background-color: var(--bg-color-b) !important;
}
.y {
    background-color: var(--bg-color-y) !important;
}
.g {
    background-color: var(--bg-color-g) !important;
}

.reveal {
    border: 1px solid var(--foreground);
    color: var(--foreground) !important;
    text-align: center;
}
.reveal.padded {
    border: 2px solid var(--foreground);
    border-radius: 0.5rem;
    padding: 1rem;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0;
}

.row {
    display: flex;
    justify-content: center;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 1.5rem;
    height: 1.875rem;
    margin: 2px;
    border-radius: 0.25rem;
    background-color: var(--foreground);
    border: 2px solid var(--foreground);
    color: var(--background);
}

.key[value="Enter"],
.key[value="Backspace"] {
    font-size: 1.5rem;
    width: 2.25rem;
}

.key:disabled,
.key[disabled] {
    background-color: var(--bg-color-b) !important;
    color: var(--foreground) !important;
}

.shake {
    animation: shake 0.25s alternate 2;
}

@keyframes shake {
    0% {
        transform: translate3d(-10px, 0, 0);
    }
    25% {
        transform: translate3d(10px, 0, 0);
    }
    50% {
        transform: translate3d(-10px, 0, 0);
    }
    75% {
        transform: translate3d(10px, 0, 0);
    }
    100% {
        transform: translate3d(-10px, 0, 0);
    }
}

.debug {
    outline: 3px solid red;
}
